<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Start at</th>
    <th>End at</th>
    <th>Description</th>
    <th>Status</th>
    <% if current_user.business_owner? %>
      <th>User</th>
      <th></th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

  <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.product.name %></td>
      <td><%= booking.start_at %></td>
      <td><%= booking.end_at %></td>
      <td><%= booking.description %></td>
      <td><%= booking.status %></td>
      <% if current_user.business_owner? %>
        <td><%= booking.user.email %></td>
        <td>
          <% if booking.status == "Pending" %>
            <%= link_to 'Accept|Reject', edit_booking_path(:id => booking.id, :product_id => booking.product.id) %>|
          <% elsif booking.status == "Accepted" %>
            <%= link_to 'Reject', edit_booking_path(:id => booking.id, :product_id => booking.product.id) %>
          <% else %>
            <%= link_to 'Accept', edit_booking_path(:id => booking.id, :product_id => booking.product.id) %>
          <% end %>
        </td>
      <% else %>
        <td><%= link_to 'Edit', edit_booking_path(:id => booking.id, :product_id => booking.product.id) %></td>
      <% end %>
      <td><%= link_to 'Destroy', booking_path(:id => booking.id, :product_id => booking.product.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<br/>
<% unless current_user.business_owner? %>
  <%= link_to 'New Booking', new_booking_path %>
<% end %>
