<p id="notice"><%= notice %></p>


<p>
  <b>Product:</b>
  <%= @booking.product.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @booking.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @booking.end_at %>
</p>

<p>
  <b>Description:</b>
  <%= @booking.description %>
</p>

<p>
  <b>Status:</b>
  <%= @booking.status %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
