<p id="notice"><%= notice %></p>

<h2>Details</h2>

<p>
  <b>Business:</b>
  <%= @product.business.name %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Product Picture:</b>
</p>
<p>
  <%= image_tag(@product.asset.avatar.url(:medium)) %>
</p>


<%= link_to 'Edit', edit_product_path(:id => @product.id, :business_id => @product.business.id) %> |
<%= link_to 'Back', products_path(:business_id => @product.business.id) %>
